.pricing-container {
  display: flex;

  width: 100vw;
  height: 55vh;
  background-image: url("../../assets/tomato.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 40px;
}

.pricing-wrapper {
  width: 70vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  flex-wrap: wrap;
}

.pricing-texts {
  display: flex;
  flex-direction: column;
  width: 35vw;
}

.icons-and-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 15vw;
}

.icon-set-one,
.icon-set-two,
.pay-text {
  display: flex;
  border-bottom: 1px solid white;
  justify-content: center;
  width: 21vw;
}

.pay-text-more {
  display: flex;
  text-align: center;
  width: 21vw;
}

.icon-one,
.icon-two {
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid white;
  padding-bottom: 8px;
}

.icon-three {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 8px;
}

.icon-four {
  padding-right: 40px;
  border-right: 1px solid white;
  padding-bottom: 8px;
  padding-top: 10px;
}
.icon-fifth {
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 8px;
}

span.text,
span.price {
  color: white;
}

.icon-text {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

span.price-head {
  text-transform: uppercase;
  display: block;
  font-size: 25px;
  color: white;
  padding-bottom: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}

p.price-desc-text {
  color: white;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
}

span.we-pay {
  color: white;
  font-size: 12px;
  font-weight: 400;
}

div.pay-text {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-content: center;
}

div.pay-text-more {
  padding-top: 5px;
  display: flex;
}
