.container-nav-bar {
  display: flex;
  border-bottom: 3px solid #eaeaea;
  height: 15vh;
}

.wrapper-nav-bar {
  width: 90vw;
  margin-left: 4%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-left,
.nav-bar-middle,
.nav-bar-right {
  display: flex;
  align-items: center;
}

.nav-icon-home {
  display: flex;
  font-size: 22px;
  font-weight: 900;
  color: #2b475c;
}
.nav-item-head {
  font-size: 20px;
  font-weight: 900;
  color: #2b475c;
  padding-left: 15px;
}

.nav-icon-person,
.nav-icon-search {
  padding-left: 20px;
}

.nav-bar-middle {
  font-size: 15px;
}

.nav-items-shop,
.nav-items-learn,
.nav-items-practice {
  font-size: 12px;
  font-weight: 500;
  padding-right: 35px;
  color: #2b475c;
}
