img.product-image {
  height: 350px;
}
.products {
  margin-top: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.product-related {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.product-details {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

.product-det {
  display: flex;
  padding-right: 20px;
  align-items: center;
}

span.product-pronoun {
  padding-right: 30px;
}

.reviews {
  display: flex;
  padding-bottom: 10px;
  padding-left: 5px;
  color: #6e6862;
  font-weight: 500;
}
span#ask-quest {
  text-transform: uppercase;
}
.review {
  padding-right: 10px;
}

#product_name {
  font-size: xx-large;
}

.size {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.fas.fa-star {
  color: #de8730;
}

div.review {
  display: flex;
  padding-left: 10px;
}

div.prices {
  padding-bottom: 10px;
}

span#dollar {
  font-size: xx-large;
  font-weight: 500;
}
