.wrapper-product {
  margin-left: auto;
  margin-right: 15%;
  margin-top: 3%;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid #eaeaea;
}

.product-image {
  width: 50%;
  height: 100%;
}

.product-related {
  width: auto;
  padding-top: 20px;
  margin-left: -30%;
  display: flex;
  flex-direction: column;
}

.product-details {
  display: flex;
  padding-top: 10px;
}
.reviews {
  display: flex;
  align-items: center;
  padding-left: 5px;
  height: 10%;
}

.prices {
  display: flex;
  align-items: center;
  height: 15%;
  border-bottom: 0.5px solid #6e6862;
}

.product-det {
  display: flex;
  padding-right: 20px;
  align-items: center;
}

.review-txt {
  font-size: 12px;
  font-weight: 500;
  color: #6e6862;
}

.quest {
  display: flex;
  align-self: center;
  text-transform: uppercase;
  color: #6e6862;
  font-size: 10px;
  padding-left: 5px;
}
.review {
  padding-right: 5px;
}

#product_name {
  font-size: 30px;
  font-weight: 400;
}

.sizes,
.grinds {
  display: flex;
  align-items: center;
  height: 12%;
  border-top: 0.5px solid #6e6862;
}

.quantity {
  display: flex;
  height: 16%;
  align-items: center;
  border-top: 0.5px solid #6e6862;
  border-bottom: 0.5px solid #6e6862;
}

.size,
.small,
.large,
.medium {
  padding-right: 45px;
}

.grind,
.whole,
.ground {
  padding-right: 37px;
}

.size,
.grind,
.quant {
  color: #6e6862;
  font-size: 14px;
}

.small,
.whole {
  font-size: 14px;
  font-weight: 500;
}

.medium,
.large,
.ground {
  color: #6e6862;
  font-size: 14px;
  font-weight: 500;
}
.quantity-wrapper,
button.quant-btn {
  text-align: justify;
  background: #f2f1f1;
  border: 0;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
}

.quant-btn,
.quantity-wrapper:hover {
  cursor: pointer;
}

.quant {
  padding-right: 20px;
}

div.review {
  display: flex;
  padding-left: 10px;
}

.stock-price {
  font-size: 23px;
  font-weight: 500;
  padding-right: 17px;
}

.price-stock {
  font-size: 12px;
  font-weight: 500;
  color: #f45858;
  display: flex;
  align-self: center;
}

.add-to-cart {
  display: flex;
  height: 20%;
  align-items: center;
}

.cart {
  display: flex;
  border-radius: 2px;
  background: #53ba9d;
  color: white;
  font-size: 17px;
  border: none;
  align-items: center;
  padding: 7px 10px 7px 10px;
  padding-right: 15px;
}
