img.product-image {
  height: 500px;
  width: 480px;
}
.products {
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 120px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
}

.product-related {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.product-details {
  display: flex;
  padding-top: 10px;
  padding-bottom: 15px;
  color: black;
}

.product-det {
  display: flex;
  padding-right: 30px;
  padding-bottom: 5px;
  align-items: center;
}

span.product-pronoun {
  padding-right: 30px;
}

.reviews {
  display: flex;
  padding-bottom: 20px;
  padding-left: 5px;
  color: #6e6862;
  font-weight: 500;
}
span#quest {
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 5px;
}
.review {
  padding-right: 20px;
}

#product_name {
  font-size: x-large;
}

.sizes,
.grinds,
.quantity {
  display: flex;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-top: 1px solid grey;
}

.quantity {
  border-bottom: 1px solid grey;
}

.size,
.small,
.large,
.medium,
.grind,
.whole,
.ground {
  padding-right: 55px;
}

.size,
.grind,
.quant {
  color: #6e6862;
  font-size: large;
}

.small,
.whole {
  font-size: larger;
  font-weight: 500;
}

.medium,
.large,
.ground {
  color: #6e6862;
  font-size: larger;
  font-weight: 500;
}

button,
.quantity-wrapper {
  text-align: justify;

  background: #f2f1f1;
  border: 0;
  padding: 5px 10px 5px 10px;
}

.quant {
  padding-right: 20px;
}

.quant-btn {
  font-size: 20px;
}

.fas.fa-star {
  color: #de8730;
  padding-right: 5px;
}

div.review {
  display: flex;
  padding-left: 10px;
}

div.prices {
  padding-bottom: 10px;
  padding-bottom: 25px;
  display: flex;
}

span#dollar {
  font-size: x-large;
  font-weight: 500;
}

span#in-stock {
  font-size: small;
  color: red;
  padding-top: 6px;
}

span.price {
  padding-right: 15px;
}

.add-to-cart {
  margin-top: 20px;
  display: inline;
  height: 40px;
}

.cart {
  border-radius: 2px;
  padding: 5px 5px 5px 5px;
  background: #3bb18f;
  line-height: 20px;
  color: white;
  border: none;
}
