img.product-image {
  height: 460px;
  width: 465px;
}

.products {
  margin-top: 20px;
  padding-left: 178px;
  padding-right: 165px;
  display: flex;
  justify-content: space-between;
  margin-bottom: -3px;
  padding-bottom: 3px;
}

.product-related {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.product-details {
  display: flex;
  padding-top: 10px;
  padding-bottom: 15px;
  color: black;
}

.product-det {
  display: flex;
  padding-right: 30px;
  align-items: center;
}

span.product-pronoun {
  padding-right: 30px;
}

.reviews {
  display: flex;
  padding-bottom: 20px;
  padding-left: 5px;
  color: #6e6862;
  font-size: 15px;
  font-weight: 700;
}
span#quest {
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 5px;
}
.review {
  padding-right: 20px;
}

#product_name {
  font-size: 32px;
  font-weight: 500;
}

.sizes,
.grinds,
.quantity {
  display: flex;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-top: 0.5px solid grey;
}

.quantity {
  display: flex;

  align-items: center;
}

.size,
.small,
.large,
.medium {
  padding-right: 45px;
}

.grind,
.whole,
.ground {
  padding-right: 37px;
}

.size,
.grind,
.quant {
  color: #6e6862;
  font-size: 15px;
}

.small,
.whole {
  font-size: 15px;
  font-weight: 600;
}

.medium,
.large,
.ground {
  color: #6e6862;
  font-size: 15px;
  font-weight: 600;
}
.quantity-wrapper,
button.quant-btn {
  text-align: justify;
  background: #f2f1f1;
  border: 0;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
}

.quant-btn,
.quantity-wrapper:hover {
  cursor: pointer;
}

.quant {
  padding-right: 20px;
}

.fas.fa-star {
  color: #de8730;
  padding-right: 5px;
  font-size: 15px;
}

div.review {
  display: flex;
  padding-left: 10px;
}

div.prices {
  padding-bottom: 10px;
  padding-bottom: 25px;
  display: flex;
}

span#dollar {
  font-size: 25px;
  font-weight: 600;
}

span#in-stock {
  font-size: 12px;
  color: #f45858;
  display: flex;
  align-items: center;
}

span.stock-price {
  padding-right: 15px;
}

.add-to-cart {
  display: flex;
  height: 35px;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 20px;
}

.cart {
  display: flex;
  border-radius: 2px;
  background: #53ba9d;
  color: white;
  border: none;
  align-items: center;
  padding: 7px 10px 7px 10px;
  padding-right: 15px;
}

.fas.fa-shopping-cart {
  padding-left: 8px;
}
