.story-main {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  border-top: 1.5px solid #eaeaea;
  margin-left: 180px;
  margin-right: 163px;
  margin-top: -20px;
  padding-bottom: 60px;
}

.story-btn-div {
  display: flex;
  justify-content: center;
}

div.story-btns {
  display: flex;
  justify-content: space-between;
  margin-left: -60px;
}

.total-contents {
  display: flex;
  padding-top: 60px;
  justify-content: space-evenly;
  padding-bottom: 80px;
}

.para {
  font-size: 17px;
  line-height: 25px;
  font-weight: 300;
}

.story-head {
  font-size: 22px;
  padding-bottom: 20px;
  font-weight: 900;
}

#story-head-trad {
  padding-top: 20px;
}

.story-contents {
  width: 50%;
  padding-right: 60px;
}

.story-para {
  padding-right: 10px;
}

button.story {
  background: white;
  margin-right: 20px;
  border: 0.5px solid #3bb18f;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
}

button.production {
  border: none;
  background: white;
}

.story-icons-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-left: 20px;
}
.icon-right {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
.story-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span.title {
  font-size: 15px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 5px;
}

span.desc {
  font-size: 12px;
  font-weight: 600;
}

.icon-wrapper-first,
.icon-wrapper-second,
.icon-wrapper-third,
.icon-wrapper-fourth {
  border-right: 1.5px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-wrapper-fifth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-wrapper-first {
  padding-right: 30px;
}

.icon-wrapper-second,
.icon-wrapper-third {
  padding-left: 10px;
  padding-right: 35px;
}

.icon-wrapper-fifth,
.icon-wrapper-fourth {
  padding-right: 20px;
  padding-left: 30px;
}
